<html>
    <head>
        <title>Jose Antonio Mestre </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Arquitecto</a></h1>
        </div>

        <div>
            <p> 40 años de experiencia</p>
            <h2><a href="">Consultoría para compra de viviendas</a></h2>
            <p>Asegura tu compra conociendo los detalles de la misma</p>
        </div>

        <div>
            <p>35 años de experiencia</p>
            <h2><a href="">Proyectos de reformas</a></h2>
            <p>Reforma tu local, vivienda u oficina de la forma más eficiente a nivel energético y de costes de obra, con el estilo siempre por bandera</p>
        </div>
    </body>
</html>
